.pyramid-container {
    text-align: center;
  }
  
  .inside-text {
    position: absolute;
    bottom: -40px;
  }
  
  #rectangle-level-3 {
      border-bottom: 200px solid blue;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width: 0px;
      margin-right:auto;
      margin-left:auto;
  }
  
  #rectangle-level-2 {
      border-bottom: 200px solid green;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width: 50px;
      margin-right:auto;
      margin-left:auto;
  }
  
  #rectangle-level-1 {
    position: relative;
      border-bottom: 200px solid red;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      height: 0;
      width: 100px;
      margin-right:auto;
      margin-left:auto;
  }